meta charset="utf-8"
meta content="width=device-width,initial-scale=1.0" name="viewport"
| {% if page.description %}
meta content="{{page.description}}" name="description"
| {% elsif site.description %}
meta content="{{site.description}}" name="description"
| {% endif %}
title
  | {{site.title}} | {{page.title}}
/! Bootstrap core CSS
link href="/css/bootstrap.min.css" rel="stylesheet"
/! Add custom CSS here
link href="/css/blog-home.css" rel="stylesheet"
